<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="rectangle_login">
        <h2>What card to create ?</h2>
        <form id="formulaire">
            <div class="boutton_menu">
                <p>Sinner Creation</p>
                <button type="button" onclick="window.location.href='/Deck_Creation';">Deck creation</button>
            </div>
            <div class="boutton_menu">
                <p>Spell Creation</p>
                <button type="button" onclick="window.location.href='/Play';">Play against a friend</button>
            </div>
            <div class="boutton_menu">
                <p>E.G.O. Creation</p>
                <button type="button" onclick="window.location.href='/Card_viewer';">Card viewer</button>
            </div>
            <div class="boutton_deco">
                <p>E.G.O. Gift Creation</p>
                <button type="button" onclick="window.location.href='/Rules';">Rule viewer</button>
            </div>
        </form>
    </div>
</body>
</html>