<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="rectangle_login">
        <h2>Main menu</h2>
        <form id="formulaire">
            <div class="boutton_menu">
                <p>Deck creation</p>
                <button type="button" onclick="window.location.href='/Deck_Creation';">Deck creation</button>
            </div>
            <div class="boutton_menu">
                <p>Versus</p>
                <button type="button" onclick="window.location.href='/Play';">Play against a friend</button>
            </div>
            <div class="boutton_menu">
                <p>Library</p>
                <button type="button" onclick="window.location.href='/Card_viewer';">Card viewer</button>
            </div>
            <div class="boutton_deco">
                <p>Rules</p>
                <button type="button" onclick="window.location.href='/Rules';">Rule viewer</button>
            </div>
        </form>
    </div>
</body>
</html>